<div class="account-form" style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 68px)">
    <form class="form-register" asp-controller="Account" asp-action="Register" method="post" style="width:100%; max-width: 480px; background: #fff; border-radius: 5px; padding: 16px 0">
        <div class="title-form">Đăng ký</div>
        <input type="hidden" name="PhatTuId" id="e-phatTuId" value="">
        <div class="info">
            <div class="item-info col-3">
                <label class="name-info">Họ</label>
                <input type="text" placeholder="Nhập họ tên" name="Ho" id="e-ho" value="" required />
            </div>
            <div class="item-info col-3">
                <label class="name-info">Tên đệm</label>
                <input type="text" placeholder="Nhập họ tên" name="TenDem" id="e-tenDem" value="" />
            </div>
            <div class="item-info col-3">
                <label class="name-info">Tên</label>
                <input type="text" placeholder="Nhập họ tên" name="Ten" id="e-ten" value="" required />
            </div>
            <div class="item-info">
                <label class="name-info">Email</label>
                <input type="text" placeholder="Nhập email" name="Email" id="e-email" required />
            </div>
            <div class="item-info">
                <label class="name-info">Mật khẩu</label>
                <input type="password" placeholder="Nhập mật khẩu" name="PassWord" id="e-password" />
            </div>
            <div class="item-info">
                <label class="name-info">Ngày sinh</label>
                <input type="text" name="Ngaysinh" id="e-ngaySinh" placeholder="Nhập ngày" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" />
            </div>
            <div class="item-info">
                <label class="name-info">Giới tính</label>
                <select name="GioiTinh" id="e-gioiTinh" required>
                    <option disabled selected>Chọn giới tính</option>
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
            </div>
        </div>
        <div class="area-btn">
            <button type="submit" class="btn-ok">Đăng ký</button>
        </div>
    </form>
</div>