@model Register
<div class="account-form" style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 68px)">
    <form class="form-register" method="post" style="width:100%; max-width: 480px; background: #fff; border-radius: 5px; padding: 16px 0">
        <div class="title-form">Đăng ký</div>
        <input type="hidden" name="PhatTuId" id="e-phatTuId" value="">
        <div class="info">
            <div class="item-info col-3">
                <label class="name-info">Họ</label>
                <input type="text" placeholder="Nhập họ" asp-for="Ho" id="e-ho"/>
                <span asp-validation-for="Ho" class="error-input"></span>
            </div>
            <div class="item-info col-3">
                <label class="name-info">Tên đệm</label>
                <input type="text" placeholder="Nhập tên đệm" name="TenDem" id="e-tenDem" />
            </div>
            <div class="item-info col-3">
                <label class="name-info">Tên</label>
                <input type="text" placeholder="Nhập tên" asp-for="Ten" id="e-ten"/>
                <span asp-validation-for="Ten" class="error-input"></span>
            </div>
            <div class="item-info">
                <label class="name-info">Email</label>
                <input type="text" placeholder="Nhập email" asp-for="Email" id="e-email"/>
                <span asp-validation-for="Email" class="error-input"></span>
            </div>
            <div class="item-info">
                <label class="name-info">Mật khẩu</label>
                <input type="password" placeholder="Nhập mật khẩu" asp-for="PassWord" id="e-password" />
                <span asp-validation-for="PassWord" class="error-input"></span>
            </div>
            <div class="item-info">
                <label class="name-info">Ngày sinh</label>
                <input type="text" name="Ngaysinh" id="e-ngaySinh" placeholder="Nhập ngày" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" />
            </div>
            <div class="item-info">
                <label class="name-info">Giới tính</label>
                <select asp-for="GioiTinh" id="e-gioiTinh">
                    <option disabled selected>Chọn giới tính</option>
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
                <span asp-validation-for="GioiTinh" class="error-input"></span>
            </div>
        </div>
        <div class="area-btn">
            <button type="submit" asp-controller="Account" asp-action="Register" class="btn-ok">Đăng ký</button>
        </div>
    </form>
</div>